COMPARTIDO-REDESII/users/pruebas xml/USUARIOS.DTD

<!DOCTYPE USUARIOS_P2P [
	<!ELEMENT USUARIOS_P2P (USUARIO+)>
	<!ELEMENT USUARIO (NICK, NOMBRE_COMPLETO, PUERTO_P2P, DIRECTORIO_EXPORTADO, CORREO_ELECTRONICO, CLAVE)>
	<!ELEMENT NICK (#PCDATA)>
	<!ELEMENT NOMBRE_COMPLETO (#PCDATA)>
	<!ELEMENT PUERTO_P2P (#PCDATA)>
	<!ELEMENT DIRECTORIO_EXPORTADO (#PCDATA)>
	<!ELEMENT CORREO_ELECTRONICO (#PCDATA)>
	<!ELEMENT CLAVE (#PCDATA)>
]>
